<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.member.mapper.MemberMapper">
	<select id="login" resultType="co.yedam.member.vo.MemberVO">
		select * from members where member_id=#{memberId} and member_pw=#{memberPw}
	</select>
	
	<insert id="addMember" parameterType="co.yedam.member.vo.MemberVO">
		insert into members(member_id, member_pw, member_name, member_phone, responsibility, image)
		values(#{memberId},#{memberPw},#{memberName}, #{memberPhone}, 'user', #{image})
	</insert>
</mapper>